body{
	background-color: #cdd1fa;
}

.main_container{
	width: 40%;
	margin: 0 auto;
}

.container {
	width: 500px;
	height: 500px;
	display: grid; 
	margin-top: 5%;
	border: 2px solid gray;
}

.gridItem {
	background-color: #000c0f; 
	border: 1px solid white;
}

.gridItem:hover{
	background-color: lightblue;
}

.resetSketchBoard {
	background-color: #000c0f;
}

.mouseover_color{
	background-color: white;
}

.btn{
	padding: 10px 15px;
	font-weight: bold;
}